body{

font-family:Arial;
background:#f2f2f2;
text-align:center;

}

form{

background:white;
padding:20px;
width:300px;
margin:auto;
border-radius:10px;

}

button{

background:green;
color:white;
border:none;
padding:10px;

}

button:hover{

background:darkgreen;

}

img{

margin-top:20px;
transition:0.5s;

}

img:hover{

transform:scale(1.2);

}
